@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
	--gray-color: hsl(200, 24%, 73%);
	--square-color: hsl(200, 35%, 19%);
	--background-color: hsl(199, 33%, 15%);
	--highlights-blue-color: hsl(178, 59%, 48%);
	--highlights-orange-color: hsl(39, 88%, 58%);
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(199, 33%, 15%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.main {
	gap: 10px;
	height: 100vh;
	display: grid;
	align-self: center;
	align-content: center;
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: 30px 150px 150px 150px 50px;
}

.main .square {
	cursor: pointer;
	border-radius: 7px;
	background-color: var(--square-color);
}

.main .icons {
	display: flex;
	font-size: 1.4rem;
	align-items: flex-end;
	color: var(--highlights-orange-color);
}

.main .icons i:first-child {
	color: var(--highlights-blue-color);
}

.main .turnDiv {
	display: flex;
	font-weight: 500;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	color: var(--gray-color);
	background-color: var(--square-color);
}

.main .rotateDiv {
	width: 30px;
	display: flex;
	cursor: pointer;
	justify-self: end;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	color: var(--background-color);
	background-color: var(--gray-color);
}

.main .statusDiv {
	display: flex;
	font-weight: 500;
	border-radius: 5px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-transform: uppercase;
	color: var(--background-color);
	background-color: var(--gray-color);
}

.main .statusDiv.x-scoreboard {
	background-color: var(--highlights-blue-color);
}

.main .statusDiv.circle-scoreboard {
	background-color: var(--highlights-orange-color);
}
