@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(199, 33%, 15%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.main {
	gap: 10px;
	height: 100vh;
	display: grid;
	align-self: center;
	align-content: center;
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: 30px 150px 150px 150px 50px;
}

.main .square {
	cursor: pointer;
	border-radius: 7px;
	background-color: hsl(200, 35%, 19%);
}

.icons {
	display: flex;
	font-size: 1.4rem;
	align-items: flex-end;
	color: hsl(39, 88%, 58%);
}

.icons i:first-child {
	color: hsl(178, 59%, 48%);
}

.turnDiv {
	display: flex;
	font-weight: 500;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	color: hsl(200, 24%, 73%);
	background-color: hsl(200, 35%, 19%);
}

.rotateDiv {
	width: 30px;
	display: flex;
	cursor: pointer;
	justify-self: end;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	color: hsl(199, 33%, 15%);
	background-color: hsl(200, 24%, 73%);
}

.statusDiv {
	display: flex;
	font-weight: 500;
	border-radius: 5px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-transform: uppercase;
	color: hsl(199, 33%, 15%);
	background-color: hsl(200, 24%, 73%);
}

.statusDiv.x-scoreboard {
	background-color: hsl(178, 59%, 48%);
}
.statusDiv.circle-scoreboard {
	background-color: hsl(39, 88%, 58%);
}
