@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
	--gray-color: hsl(200, 24%, 73%);
	--square-color: hsl(200, 35%, 19%);
	--background-color: hsl(199, 33%, 15%);
	--highlights-blue-color: hsl(178, 59%, 48%);
	--highlights-orange-color: hsl(39, 88%, 58%);
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(199, 33%, 15%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.modalOverlay {
	z-index: 5;
	width: 100vw;
	height: 100vh;
	display: flex;
	position: absolute;
	align-items: center;
	display: none;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);
}

.winnerModal {
	z-index: 10;
	width: 100vw;
	color: #fff;
	display: flex;
	padding: 20px 0;
	position: absolute;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-transform: uppercase;
	background-color: var(--square-color);
}

.winnerModal h2 {
	gap: 5px;
	display: flex;
	margin: 15px 0;
	align-items: center;
	color: var(--highlights-blue-color);
}

.winnerModal h2 span {
	font-size: 3.5rem;
}

.winnerModal .buttonDiv {
	gap: 10px;
	display: flex;
}

.winnerModal .buttonDiv button {
	border: none;
	height: 30px;
	width: 100px;
	cursor: pointer;
	font-weight: 500;
	border-radius: 5px;
	text-transform: uppercase;
	color: var(--background-color);
	background-color: var(--highlights-orange-color);
}

.winnerModal .buttonDiv button:first-child {
	width: 60px;
	background-color: var(--gray-color);
}

.main {
	gap: 10px;
	height: 100vh;
	display: grid;
	align-self: center;
	align-content: center;
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: 30px 150px 150px 150px 50px;
}

.main .square {
	display: flex;
	cursor: pointer;
	font-size: 8rem;
	border-radius: 7px;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
	color: var(--highlights-blue-color);
	background-color: var(--square-color);
}

.main .square.active {
	color: var(--square-color);
	background-color: var(--highlights-blue-color);
}

.main .square:hover {
	color: var(--square-color);
	background-color: var(--highlights-blue-color);
}

.main .icons {
	display: flex;
	font-size: 1.4rem;
	align-items: flex-end;
	color: var(--highlights-orange-color);
}

.main .icons i:first-child {
	color: var(--highlights-blue-color);
}

.main .turnDiv {
	display: flex;
	font-weight: 500;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	color: var(--gray-color);
	text-transform: uppercase;
	background-color: var(--square-color);
}

.main .rotateDiv {
	width: 30px;
	display: flex;
	cursor: pointer;
	justify-self: end;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	color: var(--background-color);
	background-color: var(--gray-color);
}

.main .statusDiv {
	display: flex;
	font-weight: 500;
	border-radius: 5px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-transform: uppercase;
	color: var(--background-color);
	background-color: var(--gray-color);
}

.main .statusDiv.x-scoreboard {
	background-color: var(--highlights-blue-color);
}

.main .statusDiv.circle-scoreboard {
	background-color: var(--highlights-orange-color);
}
