@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
	--gray-color: hsl(200, 24%, 73%);
	--square-color: hsl(200, 35%, 19%);
	--background-color: hsl(199, 33%, 15%);
	--highlights-blue-color: hsl(178, 59%, 48%);
	--highlights-orange-color: hsl(39, 88%, 58%);
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.main {
	width: 40%;
	display: flex;
	row-gap: 10px;
	align-items: center;
	flex-direction: column;
}

.main .icons {
	font-size: 1.3rem;
	color: var(--highlights-orange-color);
}

.main .icons i:first-child {
	color: var(--highlights-blue-color);
}

.main .choosePlayerDiv {
	width: 100%;
	display: flex;
	height: 100px;
	border-radius: 7px;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--square-color);
}

.main .choosePlayerDiv h1 {
	color: #fff;
	font-weight: 400;
	font-size: 0.7rem;
	text-transform: uppercase;
}

.main .choosePlayerDiv .chooseButtons {
	width: 90%;
	padding: 5px;
	display: flex;
	border-radius: 7px;
	background-color: var(--background-color);
	transition: 0.7s;
}

.main .choosePlayerDiv .chooseButtons button[data-js="active"] {
	background-color: var(--gray-color);
	color: var(--background-color);
}

.main .choosePlayerDiv .chooseButtons button {
	width: 50%;
	height: 25px;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 3px;
	background: transparent;
	transition: 0.7s;
	background-color: transparent;
	color: var(--gray-color);
}

.main .versusButtonDiv {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main .versusButtonDiv a {
	height: 30px;
	width: 100%;
	margin-bottom: 5px;
	color: var(--background-color);
}

.main .versusButtonDiv a button {
	border: none;
	height: 100%;
	cursor: pointer;
	font-weight: 500;
	font-size: 0.9rem;
	width: 100%;
	border-radius: 5px;
	background-color: var(--highlights-orange-color);
}

.main .versusButtonDiv a:last-child button {
	background-color: var(--highlights-blue-color);
}
